/Computer-Science-Project-Work-Principles-and-Pragmatics.pdf
/Feladatspecifikáció.docx
/Munkaterv.docx
/NIS2 auditáló rendszer rendszerterv.docx
/Szoftverfejlesztés terv.docx
/Téma specifikáció.docx
/__pycache__